@use 'sass:math';
@use './variables.scss';
@use './colors.scss';
@use './mixins.scss';
@use './typography';
@use './extends';

%base {
  @include mixins.fontSize(14, 17.5);
  cursor: pointer;
  border-radius: map_get(variables.$border-radius, 'sm');
  display: inline-flex;
  transition: 1.4s variables.$easing;
  white-space: nowrap;
  padding: mixins.rem(16) mixins.rem(16) mixins.rem(14);
  @include typography.font-headingN8;
}

// Primary
.c-button--primary {
  @extend %base;
  background-color: colors.$color-black;
  color: colors.$color-white;
}

// Secondary
.c-button--secondary {
  @extend %base;
  background-color: colors.$color-white;
  color: colors.$color-black;
}
